body{
    background-color: rgb(22, 22, 22);
    color: white;
}
.picture{
    background-image: url(/assets/img/bg-main.png);
    background-repeat: no-repeat;
}

.navbar-nav{
    color: white;
    font-size: 20px;
    font-family: 'Bebas Neue', cursive;
}

.nav-link{
    color: white;
    padding-bottom: 1px;
}
.nav-link:hover{
    color: white;
    border-bottom: 1px solid rgb(255, 153, 0);
}
.welcome{
    margin-top: -30px;
    font-size: calc(2rem + 6vw);
    color: grey;
    font-family: 'Bebas Neue', cursive;
    
}
.a{
    font-size: calc(2rem + 7vw);
    color: white;
    font-family: 'Bebas Neue', cursive;
    margin-top: -6rem;
    text-shadow: 30px 15px 40px black;
}
.p{
    font-size: calc(2rem + 7vw);
    color: white;
    font-family: 'Bebas Neue', cursive;
    text-shadow: 30px 15px 40px black;
    margin-top: -6.5rem;
}
.gif1{
    margin-top: 40px;
}
h4{
    font-size: 16px;
    color: rgb(255, 153, 0);
    margin-top: -3.2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin-left: 10px;
    padding-bottom: 2rem;
    letter-spacing: 2px;
}

footer{
    background-color: rgb(20, 20, 20);
    padding: 5px;     
}
.logosfooter{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
}

.rows {
    height: 100vh;
}

.form-control {
    display: block;
    width: 100%;
    min-height: calc(1.5em + .75rem + 2px);
    padding: .575rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    background-color: rgb(255, 255, 255);
    background-clip: padding-box;
    border: 1px solid #424242;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 52px;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;

}

.card {
    padding: 20px;
    background-color: rgba(95, 95, 95, 0.192);
    padding-bottom: 50px;
    padding-top: 30px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    margin-top: 40px;

}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #f9a826;
    outline: 0;
    box-shadow: none
}

.border-rad {
    border-top-right-radius: 28px;
    border-bottom-right-radius: 28px;
    color: #fff;
    background-color: #313131;
    border-color: #313131;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    
}

.border-rad:hover {
    background-color: #ff7b00;
    border-color: #ff7b00;
}
h5{
    font-size: 40px;
    color: rgb(255, 115, 0);
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 1px;
    text-shadow: 10px 10px 5px black;

}
.descripcion{
    font-size: 15px;
    letter-spacing: 2px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-shadow: 10px 10px 5px black;

}